.twilio-poll .vote-bar {
  position: relative;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 1.75em;

  background-color: rgba(120, 130, 65, 0.15);
  cursor: pointer;
}

.twilio-poll .vote-bar:before {
  content: attr(data-percent) '%';
  opacity: .5;
  position: absolute;
  right: 1em;
  font-size: .75em;
}


.twilio-poll .answer-sms-id,
.twilio-poll .poll-sms-id,
.twilio-poll a[href^=sms] {
  font-family: 'Andale Mono', monospace;
  font-weight: 600;
  padding: 0 0.25em;
}

.twilio-poll .answer-title {
  margin-left: 1em;
}

.twilio-poll .vote-bar .percentage-bar > .bar {
  color: transparent;
  content: '.';

  background-color: rgba(0, 0, 0, 0.15);

  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 0;
}

.twilio-poll .vote-bar:hover .percentage-bar > .bar {
  background-color: rgba(0, 0, 0, 0.25);
}

.twilio-poll .votes-total {
  opacity: .25;
  font-size: .75em;
  text-align: right;

  margin-bottom: 1em;
}

.twilio-poll .votes-total:hover {
  opacity: .75;
}
